@model SciFit.Models.PlanTemplateModel

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center" style="float: none; margin: auto">
            @using (Html.BeginForm("AdministratePlansCreate", "Administration", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <h4>Create excercise</h4>
                <hr />

                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Name,
                    new
                    {
                        @class = "form-control input-sm",
                        placeholder = "Name",
                        type = "text",
                        style = "margin:auto; text-align:center"
                    })
                <hr />

                @Html.ValidationMessageFor(m => m.Reps, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Reps,
                    new
                    {
                        @class = "form-control input-sm",
                        placeholder = "Reps",
                        type = "text",
                        style = "margin:auto; text-align:center"
                    })
                <hr />

                @Html.TextBoxFor(m => m.Image,
                    new
                    {
                        @class = "form-control input-sm",
                        placeholder = "Image",
                        type = "text",
                        style = "margin:auto; text-align:center"
                    })

                <input type="file" name="file" class="form-control input-sm" style="margin:auto; text-align:center" />
                <hr />

                @Html.ValidationMessageFor(m => m.Instructions, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Instructions,
                    new
                    {
                        @class = "form-control input-sm",
                        placeholder = "Instructions",
                        type = "text",
                        style = "margin:auto; text-align:center"
                    })
                <hr />
                @Html.ValidationMessageFor(m => m.Video, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Video,
                    new
                    {
                        @class = "form-control input-sm",
                        placeholder = "Video url",
                        type = "text",
                        style = "margin:auto; text-align:center"
                    })
                <hr />
                @Html.ValidationMessageFor(m => m.Level, "", new { @class = "text-danger" })
                @Html.TextBoxFor(m => m.Level,
                    new
                    {
                        @class = "form-control input-sm",
                        placeholder = "Level",
                        type = "number",
                        style = "margin:auto; text-align:center"
                    })
                <hr />

                @Html.HiddenFor(userModel => userModel.Id)

                <div class="row" style="display: flex;justify-content: center">
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success" style="margin: 0 auto;">Create</button>
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Cancel", "AdministratePlans", "Administration",
                            new { @class = "btn btn-danger", style = "margin: 0 auto;" })
                    </div>
                </div>

                
            }
        </div>

    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}