@model SciFit.Models.UserModelMainView
@{
    ViewBag.Title = "Register";
}

@section styles{
    <link rel="Stylesheet" href="@Href("~/Content/Site.css")" />
}
<!--Pulling Awesome Font -->
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-registration text-center">
                @using (Html.BeginForm("Register", "Authentication"))
                {
                    <h4>Registration</h4>
                    <hr />
                    <div class="form-group">
                        @Html.ValidationMessageFor(m => m.UserName)
                        @Html.EditorFor(m => m.UserName,
                            new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control input-sm",
                                    style = "margin: auto",
                                    placeholder = "Username"
                                }
                            })
                        @*<input type="text" id="userName" name="UserName" class="form-control input-sm" style="margin: auto" placeholder="Username" />*@
                        <hr />
                        @Html.ValidationMessageFor(m => m.Password)
                        <input type="text" id="userPassword" name="Password" class="form-control input-sm" style="margin: auto" placeholder="Password" />
                        <hr />
                        @Html.ValidationMessageFor(m => m.Email)
                        <input type="text" id="email" name="Email" class="form-control input-sm" style="margin: auto" placeholder="User@mail.com" />
                        <hr />
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}