@model SciFit.Models.UserModelMainView
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="form-registration text-center">
                @using (Html.BeginForm("Register", "Authentication"))
                {
                    <h4>Registration</h4>
                    <hr />
                    <div class="form-group">
                        <div style="padding-bottom: 1em">
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                        @*@Html.LabelFor(m => m.UserName)*@
                        @Html.TextBoxFor(m => m.UserName,
                            new
                            {
                                @class = "form-control input-sm",
                                placeholder = "Username",
                                type = "text",
                                style = "margin:auto; text-align:center"
                            })
                        <hr />
                        <div style="padding-bottom: 1em">
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        @*@Html.LabelFor(m => m.Email)*@
                        @Html.TextBoxFor(m => m.Email,
                            new
                            {
                                @class = "form-control input-sm",
                                placeholder = "Email@gmail.com",
                                type = "email",
                                style = "margin:auto; text-align:center"
                            })
                        <hr />
                        <div style="padding-bottom: 1em">
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        @*@Html.LabelFor(m => m.Password)*@
                        @Html.TextBoxFor(m => m.Password,
                            new
                            {
                                @class = "form-control input-sm",
                                placeholder = "Password",
                                type = "password",
                                style = "margin:auto; text-align:center"
                            })
                        <hr />
                        <div style="padding-bottom: 1em">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                        @*@Html.LabelFor(m => m.ConfirmPassword)*@
                        @Html.TextBoxFor(m => m.ConfirmPassword,
                            new
                            {
                                @class = "form-control input-sm",
                                placeholder = "Confirm Password",
                                type = "password",
                                style = "margin:auto; text-align:center"
                            })
                        <hr />
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}